* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
#root {
  min-height: 100%;
}

body {
  direction: rtl;
  font-family:
    "Cairo",
    "Tajawal",
    sans-serif;

  background: #f7f9fc;
  color: #1f2937;
}

button,
input,
select,
textarea {
  font-family: inherit;
}
.card-box {
  background: white;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 10px 25px rgba(0,0,0,0.05);
  transition: 0.2s;
}

.card-box:hover {
  transform: translateY(-3px);
}
@media (max-width: 768px) {
  .dashboard {
    flex-direction: column;
  }

  .sidebar {
    flex-direction: row;
    width: 100%;
    justify-content: space-around;
  }

  .sidebar a {
    font-size: 12px;
    flex-direction: column;
    gap: 5px;
  }
}
